apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "fedco-devcentral-app.fullname" . }}
  
  labels:
    app: {{ include "fedco-devcentral-app.fullname" . }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ include "fedco-devcentral-app.fullname" . }}
  template:
    metadata:
      name: fedco-devcentral-app
      labels:
        app: {{ include "fedco-devcentral-app.fullname" . }}
    spec:
      containers:
      - name: fedco-devcentral-app
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
        ports:
          - containerPort: {{ .Values.service.port }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        volumeMounts:
          - name: config-js-volume
            mountPath: /app/build/config.js
            subPath: config.js


      volumes:
        - name: config-js-volume
          configMap:
            name: {{ .Values.configMap.name }}


